html, body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    height: 100%;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

h1 {
    display: inline-block;
    font-size: 30px;
}

h1:hover {
    border-color: #72a329;
}

h3 {
    margin: 0 0 15px 0;
    letter-spacing: 1px;
}

hr {
    border-color: #999;
    margin: 10px 0;
}

a {
    color: #999;
    -webkit-transition: color .3s;
    transition: color .3s;
}

a:hover, a:focus {
    color: #666;
    text-decoration: none;
}

p {
    color: #777;
}

p a {
    color: #ddb900;
}

p a:hover {
    color: #444;
}

label {
    font-weight: normal;
}

canvas {
}

